
<form action="{% url 'joke:create' %}" method="post">
{% csrf_token %}

<p>
<input type="text" name="title" id="title" value="">
</p>
<p>
<input type="text" name="text" id="text" value="">
</p>

<input type="submit" value="Save">

</form>
