{% if joke_list %}
    <ul>
    {% for joke in joke_list %}
        <li><a href="{% url 'joke:detail' joke.id %}">{{ joke.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No jokes are available.</p>
{% endif %}
<a href="{% url 'joke:create' %}">create new joke</a>
<p>
<a href="{% url 'home' %}">home</a>
</p>
